{
    "parser": "babel-eslint",
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es2020": true
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src"]
            }
        }
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended", "airbnb", "prettier"],
    "plugins": ["react", "react-hooks", "prettier"],
    "rules": {
        "react/react-in-jsx-scope": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-one-expression-per-line": 0,
        "no-nested-ternary": 0,
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-console": "off",
        "generator-star-spacing": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "prettier/prettier": ["error"]
    }
}
