@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
    font-family: 'AppleSDGothicNeoR00';
    font-style: normal;
    font-weight: 400;
    src: url('/font/AppleSDGothicNeoR00.eot'); /* IE9 Compat Modes */
    src: local('AppleSDGothicNeo'), local('AppleSDGothicNeo'), url('/font/AppleSDGothicNeoR00.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/font/AppleSDGothicNeoR00.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/font/AppleSDGothicNeoR00.woff') format('woff'),
        /* Modern Browsers */ url('/font/AppleSDGothicNeoR00.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/font/AppleSDGothicNeoR00.svg#AppleSDGothicNeo') format('svg'); /* Legacy iOS */
}
html,
body {
    height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', 'AppleSDGothicNeoR00', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* @media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
} */
